<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.TestClasses.TC003_ForgetPassWordPage"/>
      <class name="com.TestClasses.TC005_StaffLogin"/>
      <class name="com.TestClasses.TC001_PreLoginScreen"/>
      <class name="com.TestClasses.TC002_VendorLoginPage"/>
      <class name="com.TestClasses.TC004_SignUpPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
